* {
    margin: 0;
    padding: 0;
}

#app_streak_counter {
    width: calc(100% - 20px);
    padding: 10px;
}


#app_streak_counter h1{
    font-family: "Open Sans ExtraBold", sans-serif;
    font-size: 25pt;
    color: #007ede;
    text-align: right;
}
#app_header {
    display: block;
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#app_header h1{
    font-family: "Roboto Slab", monospace;
    text-align: center;
    font-size: 70px;
    color: #222;

}

#app_body{
    max-width: 500px;
    display: block;
    position: relative;
    height: 400px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#question_produce_image img {
    display: block;
    position: relative;
    max-height: 300px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#question_produce_number {
    position: absolute;
    font-family: "Open Sans ExtraBold", sans-serif;
    text-align: center;
    top: 300px;
    height: 25px;
    width: 100%;
    font-size: 25px;
    color: #cc0000;

}

#question_input input {
    all: unset;
    font-family: "Open Sans ExtraBold", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #222;
    background-color: #EEE;
    position:absolute;
    top: 350px;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}